@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: var(--color-blue-500);
  --ui-secondary: black;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 640px;

  @variant md{
    max-width: 767px;
  }

  @variant xl {
    max-width: 1220px;
    padding-inline: 1.25rem;
  }
}

body {
  font-family: Rokh !important;
  @apply text-secondary!;
}

* {
  direction: rtl !important;
}
