@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: var(--color-blue-500);
  --ui-secondary: black;
  --ui-gray: #4f6470;
  --ui-content: #042f48;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-gray: var(--ui-gray);
  --color-primary: var(--ui-primary);
  --color-content: var(--ui-content);
}

@layer components {
  .main-btn {
    @apply bg-[#f4f5f7] cursor-pointer py-1.5 px-4 rounded-[6px] border border-primary/60;
  }

  .sec-header {
    @apply text-[20px] lg:text-2xl text-content font-bold;
  }

  .primary-box {
    @apply bg-white rounded-2xl py-2.5 md:py-3 px-4;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .filter-blue {
    filter: saturate() sepia() hue-rotate(158deg) saturate(300%) brightness();
  }

  .paragraph {
    @apply text-xs lg:text-sm;
  }

  .ds-container {
    @apply max-w-[1200px] mx-auto py-5 px-4;
  }

  .field-base {
    @apply w-full h-[40px] lg:h-[42px];
  }

  .ds-table-con {
    @apply bg-white p-[18px] rounded-xl border border-gray-200;
    @apply flex flex-col gap-4;
  }

  .ds-menu-item {
    @apply py-2.5! px-3! lg:py-5! lg:px-4! overflow-clip rounded-md! relative hover:text-blue-500;
    transition: all 0.3s !important;
  }

  .ds-menu-item::before {
    content: " ";
    @apply absolute h-[85%]! w-[9px] rounded-full bg-blue-500 translate-x-[calc(100%+1px)] start-0 transition-all duration-300;
  }

  .ds-menu-item.router-link-active {
    @apply text-blue-500 bg-blue-100/80 before:bg-blue-500 before:translate-x-1/2!;
  }

  .ds-form {
    @apply space-y-4 flex gap-3 justify-between items-start flex-col w-full;
  }

  .ds-form-grid {
    @apply grid grid-cols-1 lg:grid-cols-3 w-full gap-6;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  max-width: 640px;

  @variant md {
    max-width: 767px;
    padding-inline: 2rem;
  }

  @variant lg {
    max-width: 1024px;
    padding-inline: 2.5rem;
  }

  @variant xl {
    max-width: 1220px;
  }
}

body {
  font-family: IRANSansX !important;
  background-color: white !important;
  @apply text-content text-[13px]! lg:text-sm! overflow-clip;
}

* {
  direction: rtl !important;
}

.iconify {
  @apply size-4!;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

button {
  cursor: pointer;
}

.ds-form .secondary-btn {
  @apply w-fit rounded-[8px]! h-[40px]!;
}
